body,
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px;
}

button {
  background: none;
  border-radius: 5px;
  font-size: 14px;
}

main {
  flex: 1 0 auto;
}

footer {
  align-items: center;
  color: rgb(53, 53, 53);
  display: flex;
  flex-shrink: 0;
  font-size: 20px;
  height: 5rem;
  justify-content: center;
  margin-top: 15px;
}

footer > #current-year {
  margin-left: 0.3rem;
}

h1 {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  margin-bottom: 2rem;
  width: auto;
}

header {
  flex-shrink: 0;
  height: 3rem;
}

table {
  width: 45rem;
  margin: auto;
}

#control-wrapper {
  height: 0;
}

#github-link-img {
  margin-left: 0.3rem;
  width: 1.5rem;
}

#grid-wrapper {
  display: flex;
  justify-content: center;
}

#grid {
  aspect-ratio: 1;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  width: 30rem;
}

#grid-container {
  display: flex;
  justify-content: center;
}

#grid-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 10px;
  height: 100%;
}

.grid-control {
  text-align: center;
}

.grid-control > * {
  width: 100%;
  display: block;
}

.grid-control > button {
  padding: 5px;
}

.grid-item {
  border-right: solid 1px black;
  border-bottom: solid 1px black;
  flex: 1 0 auto;
}

.grid-item:hover {
  box-shadow: 0px 0px 0.3rem black;
  scale: 1.01;
}

/* targets all grid-items in the last row of the grid */
.grid-row:last-child > .grid-item {
  border-bottom: none;
}

/* targets all grid-items in the last column of the grid */
.grid-item:last-child {
  border-right: none;
}

.grid-row {
  /* border: solid 10px black; */
  display: flex;
  flex: 1 0 auto;
  border: none;
}

/* toggleable classes */
.borderless {
  border: none;
}

.rainbow-mode-active {
  background: linear-gradient(
    85deg,
    rgba(255, 0, 0, 0.75) 0%,
    rgba(255, 179, 0, 0.75) 19%,
    rgba(255, 252, 0, 0.75) 38%,
    rgba(5, 255, 0, 0.75) 62%,
    rgba(0, 65, 255, 0.75) 78%,
    rgba(171, 0, 255, 0.75) 100%
  );
}

.shade-mode-active {
  background: linear-gradient(
    90deg,
    rgb(215, 212, 212) 0%,
    rgba(100, 100, 100, 1) 100%
  );
}
